body {
    margin: 0;
    line-height: normal;
  }
  .rectangle-footer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #484141;
    width: 100%;
    height: 717px;
  }
  .buzzfeed-inc-p {
    margin: 0;
    position: absolute;
    top: 635px;
    left: 70px;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 22px;
    display: inline-block;
  }
  .email-address-required,
  .follow-us-p,
  .get-the-homechef16net-newslet {
    position: absolute;
    left: 5%;
    letter-spacing: 0.02em;
    line-height: 22px;
    display: inline-block;
  }
  .get-the-homechef16net-newslet {
    top: 260px;
    font-size: 36px;
  }
  .email-address-required,
  .follow-us-p {
    margin: 0;
    left: 5%;
  }
  .follow-us-p {
    top: 472px;
    font-size: 36px;
    font-weight: 700;
  }
  .email-address-required {
    top: 306px;
  }
  .rectangle-icon12,
  .rectangle-icon13 {
    font-size: 20px;
    display: block;
    left: 5%;
    
   
  
    border: 1px solid #000;
    background-color: #fffefe;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    width: 30%;
    height: 6%;
    top: 50%;
  }
  .rectangle-icon13 {
    left: 501px;
    width: 132px;
  }
  .sign-up-b {
    position: absolute;
    top: 51%;
    left: 27%;
    letter-spacing: 0.02em;
   
    display: inline-block;
  }
 
  .your-email-address {
    border: 1px solid #000;
    background-color: #fffefe;
    position: absolute;
    top: calc(50%);
    margin-left: 5%;
    
    border-radius: 20px;
    box-sizing: border-box;
    width: 20%;
    height: 7%;
  }
  .outlinebrandsfacebook-icon,
  .outlinebrandsinstagram-icon {
    position: absolute;
    top: 518px;
    left: 159px;
    width: 72px;
    height: 72px;
  }
  .outlinebrandsfacebook-icon {
    top: 517px;
    left: 248px;
  }
  .outlinebrandstumblr-icon,
  .outlinebrandsyoutube-icon {
    position: absolute;
    top: 518px;
    left: 337px;
    width: 72px;
    height: 72px;
  }
  .outlinebrandsyoutube-icon {
    left: 65px;
    width: 77px;
    height: 77px;
  }
  .send-feedback-p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .accessibility-statement-p {
    margin: 0;
  }
  .send-feedback-privacy-policy {
    position: absolute;
    top: 45%;
    left: 80%;
    text-decoration: underline;
    letter-spacing: 0.02em;
    padding: 30px;
    line-height: 22px;
    font-weight: 700;
    text-align: right;
    display: inline-block;
  }

  .content-icon1 {
    position: absolute;
    top: 85px;
    left: 346px;
    width: 119px;
    height: 76.1px;
  }
  .homechef16net-h1 {
    margin: 0;
    
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 200%;
   
    font-family: inherit;
    color: #000;
    display: flex;
    align-items: center;
   
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 3px #fff;
  }
  .group-div1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 717px;
  }
  .group-footer {
    position: relative;
    width: 100%;
    height: 717px;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: Montserrat;
  }
  